@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    margin: 10px;
    
}

main {
    max-width: 700px;
    margin: 100px auto 0 auto;
    padding: 15px;
    background-color: rgb(25, 114, 216);
    border-radius: 10px;
}

main h1 {
    text-align: center;
    margin-bottom: 15px;
}

.form_item1 {
    margin-top: 5px;
}

#input_number {
    max-width: 80px;
    height: 30px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    padding: 2px;
}

.btn_add, .btn_finish {
    max-width: 100px;
    font-size: 16px;
    padding: 4px;
    background-color: orange;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
}

.btn_tryAgain {
    max-width: 170px;
    font-size: 16px;
    padding: 4px;
    background-color: orange;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
}

.btn_add, .btn_finish, .btn_tryAgain:hover {
    cursor: pointer;
}

#number_list {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
}

#result {
    margin-top: 20px;
}

#result p {
    margin-bottom: 10px;
}

#result p:first-child {
    background-color: orange;
    max-width: 250px;
    color: black;
}
